p {
  text-align: left;
  margin: auto;
  max-width: 500px;
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: "Roboto";
}

h1 {
  text-align: left;
  font-size: 2.5rem;
  max-width: 600px;
  font-weight: 900;
  font-family: "Roboto";
}

main {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20%;
}